//Tipografia
$fuenteHeading: 'PT Sans', sans-serif;
$fuenteParrafos: 'Open Sans', sans-serif;

//Medidas
$telefono:480px;
$tablet:768px;
$laptop:1280px;
$desktop:1440px;


//Colores
$cafe: #784D3C;
$gris: #e1e1e1;
$blanco: #ffffff;
$negro: #000000;